.row_banner{
    margin-top: 5rem;
    height: 565px;
}
.col_banner{
    padding: 1rem !important;
    height: 100%;
}
.div_img_banner{
    position: relative;
    border-radius: 50%;
    border: solid 1px black;
    width: 200px;
    height: 200px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}
.txt_banner{
    text-align: center;
}
.col_banner{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 1rem;
}
.img_banner{
    width: 70%;
    height: 70%;
    border-radius: 11%;
    margin: 2rem;
}