<html>

<head>
    <title>FS! - Demo</title>
    <link rel="icon" type="imagem/png" href="../../Image/logo.png" />
    <link rel="stylesheet" type="text/css" href="../../Content/materialize/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/style.css">
    <link rel="stylesheet" type="text/css" href="../Content/loja.css">

    <script src="../../Content/jquery-3.3.1.min.js"></script>
</head>


<body>
    <div class="header">
        <div class="bodymenu">
            <a href="../../index.html">
                <div class="logo">
                    <img class="logo_img" src="../../Image/logo.png">
                </div>
                <div class="div_nome_marca">
                    <h5 class="nome_marca">Fulano Sabe!</h5>
                </div>
                <div class="div_slogan_marca">
                    <h5 class="slogan_marca">Personalização? Me fala então!</h5>
                </div>
            </a>

            <div class="menu">
                <table class="table_menu">
                    <tbody class="tbody_menu">
                        <tr class="tr_menu">
                            <td class="td_menu selected"><a href="">Loja</a></td>
                            <td class="td_menu"><a href="">Produtos</a></td>
                            <td class="td_menu"><a href="">Meu Fulano</a></td>
                            <td class="td_menu meu_fulano"><a href="" class="btn">FulanoTal</a></td>
                            <td class="td_menu"><a id="demo" href="../../index.html">Sair</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row_banner">
            <div class="col s12 m6 l6 col_banner">
                <div class="div_nome_loja">
                    <h4 id="nome_loja">
                        FulanoSabe
                    </h4>
                </div>
                <div class="div_descricao_loja">
                    <p id="descricao_loja">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur, augue sit amet ultricies maximus, erat sem ullamcorper lectus, non consequat lorem neque vel nunc. Morbi imperdiet commodo cursus. Cras cursus finibus tellus. Sed ipsum purus, pharetra ac justo eget, sodales tincidunt arcu. Fusce aliquet mi magna, ut efficitur nisl tempus eget. In non commodo elit. Vestibulum eget dignissim nunc.
                    </p>
                </div>
            </div>
            <div class="col s12 m6 l6 col_banner">
                <div class="div_foto_loja">
                    <img id="foto_loja" src="../Image/img_loja_default.png">
                </div>

                <button class="btn" id="alterar_foto">Alterar</button>
            </div>
        </div>
    </div>

</body>

</html>